@{
    ViewData["Title"] = "Home Page";
    ViewData["author"] = "Carter Hunter Jeffery";
}

<div class="text-center">
    <h1 class="display-4">Welcome, this page was created by @ViewData["author"]</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
